:root {
    --pochta-color:#0156a5;
    --md-primary-fg-color: var(--pochta-color);
    --md-footer-bg-color: var(--pochta-color);
}

:root * {
    --md-footer-bg-color: var(--pochta-color);
}

.md-typeset {
    font-size: .7rem;
    line-height: 1;
}